@charset "UTF-8";

@media screen and (min-width: 1400px)  {
    div#imagem{
        float: left;
        width: 50%;
    }

    section > div#texto{
        float: right;
        width: 50%;
    }

    section > div#texto > h2{
        font-size: 4em;
    }

    section > div#texto > p{
        font-size: 2.4em;
    }

}